img {
  width: 100%;
  height: auto;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 0px;
  transform: translate(0px, 5px) !important;
  z-index: 1 !important;
  background-color: #f1c111 !important;
  opacity: 1 !important;
}

@media screen and (max-width: 768px) {
  .salom {
    height: 250px !important;
    border-radius: 6px;
  }
}
